* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}
#headline{
    grid-area: headline;
}
#student-picture{
    grid-area: picture;
    text-align: center;
}
#student-quote{
    grid-area: quote;
}
#student-profile{
    grid-area: profile;
}
#student-contact{
    grid-area: contact;
    text-align: center;
}
#experience-code{
    grid-area: code;
}
#experience-database{
    grid-area: database;
}
#experience-web{
    grid-area: web;
}
#experience-design{
    grid-area: design;
}
main#main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-areas:
    "headline headline picture"
    "quote quote picture"
    "profile profile contact"
    "experience-grid experience-grid experience-grid";
    align-items: center;
}
div#experience-grid{
    display: grid;
    grid-area: experience-grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-areas:
    "code code"
    "database database"
    "web design";
}


@media (max-width: 1024px){
    main#main-grid{
        column-gap: 35px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
         "headline headline"
         "quote picture"
         "quote contact"
         "profile profile"
         "experience-grid experience-grid";
    }
    div#experience-grid{
        column-gap: 20px;
        row-gap: 20px;
        grid-template-areas:
        "code web"
        "database design";
    }
    @media (max-width: 450px){
        main#main-grid{
            grid-template-columns: 1fr;
            grid-template-areas:
             "headline"
             "picture"
             "quote"
             "contact"
             "profile"
             "experience-grid";
        }
        div#experience-grid{
            grid-template-columns: 1fr;
            grid-template-areas:
            "code"
            "web"
            "database"
            "design";
        }
    }
}